include *.md
include *.rst
include *.yml
include .bumpversion.cfg
include .flake8
include .git-blame-ignore-revs
include .isort.cfg
include CODEOWNERS
include LICENSE
include pytest.ini
include tox.ini
include logging.conf
include config.ini
recursive-include docs *.bat
recursive-include docs *.bib
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
prune docs/source
prune tests
prune tutorials
